#reviews {
    text-align: center;
    padding-top: 3px;    
    width: 1293px;
    margin: 0 auto;
    height: 400px;
}

#reviews h2 {
  margin-bottom: -20px;
}

#reviews .slides {
	width: 927px;
	margin: 47px auto 0;
	/*overflow: hidden;*/
	position: relative;
  	height: 230px;
}

.hidden {
	display: none;
}

#reviews .slide {
	display: block;
	background-color: white;
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: left;
}

#reviews .sub_slide {
	top: 23px;
	height: 180px;
	cursor: pointer;
	width: 423px;
	height: 248px;
}

#reviews .slide.left {
	left: 0;
	right: initial;
	z-index: 1;
}

#reviews .show {
	margin-left: auto;
	margin-right: auto;
	left: 213px;
	z-index: 3;
	width: 522px;
	height: 318px;
}

#reviews .right {
	right: 0;
	z-index: 1;
}

#reviews .paging {
	clear: both;
}

#reviews .paging span {
	display: inline-block;
	cursor: pointer;
}

#reviews .slide h4 {
	font-family: 'Museo Sans Cyrl';
	font-size: 16px;
	color: #5D5D5D;
	margin-top: 42px;
    display: inline-block;
	margin-bottom: 5px;
}

#reviews .slide h5 {
    font-family: 'Open Sans';
	font-style: italic;
	font-size: 14px;
	color: #B3B3B3;
	display: inline-block;
    margin-top: 0px;
	margin-bottom: 21px;
}

#reviews .slide p {
    font-family: 'Open Sans';
	font-size: 14px;
	color: #808080;
	margin-left: 113px;
	margin-top: 0;
    line-height: 22px;
	padding-right: 40px;
}

#reviews .slide img {
	border-radius: 50%;
	width: 50px;
	float: left;
	margin: 39px 22px 0 44px;
}
